// ensure we only target selectors contained in this plugin
.pmagic {
	.pg-member-search { display: none !important; }
	.pg-group-sorting-rs { display: none !important; }

	.pg-message-box {
		font-family: $font;
		font-size: 0.875rem;
	}

	.pg-user-group-head {
		.pg-setting-dropdown { display: none !important; }
	}

	.pg-user-group-desc .pm-dbfl {
		font-family: $font;
		font-size: 0.875rem;
	}

	.pg-user-group-box .pm-bg { min-height: 9rem; }

	// group user table in settings section
	.pg-group-members tbody th {
		font-weight: 600 !important;
		font-size: 0.75rem !important;
	}

	.pm-group-description {
		.pm-card-row { margin-bottom: 1rem; }
		.pm-card-label { font-weight: 600 !important; }
	}

	.pm-group-icon-action { margin-bottom: 3.5rem !important; }

	// yes it's actually spelled wrong :(
	.pm-field-lable {
		font-family: $font;
		font-size: 1rem;
	}

	.pm-field-input {
		input, textarea {
			font-family: $font;
			font-size: 0.9375rem !important;
			border: 1px solid $grey;
		}
	}

	.pg-group-edit-setting #pm_edit_group .pm-group-edit-form .pm-field-input textarea {
		font-size: 0.9375rem !important;
	}

	@include mq($from: 750px) {
		.pm-field-lable {
			margin-right: 1.75rem !important;
			width: 15rem !important;
			text-align: right !important;
		}
	}

	.pm-group-desc {
		font-size: 0.9375rem !important;
		font-family: $font;
	}

	.pm-group-heading a {
		font-weight: 600 !important;
		font-size: 1rem !important;
	}

	.pm-group-icon { display: none; }
}