.pmagic {
	a, p, span:not(#view-pass), div { font-family: $font !important; }

	// login form container
	.pm-login-box {
		margin-bottom: 5rem;
	}

	#pm_login_form {
		position: relative;

		#user_login, #user_pass {
			border: 1px solid $border-grey;
		}

		#view-pass {
			position: absolute;
			top: 35%;
			right: 0;
			font-family: $fa !important;
		}

		.pm-login-links-box { padding-top: 1.5rem; }

		input.pm-difl, a.pm-difl {
			appearance: none;
			background: none;
			border: unset;
			font-family: $font;
			font-size: 1.15rem;
			color: $redorange;
			&:hover { cursor: pointer; }
		}

		a.pm-difl { margin-left: 2.5rem !important; }
	}

	.pm-popup-title { font-family: $font; }

	#change-pic {
		display: inline-block;
		background-color: $redorange;
		padding: 0.5rem 1rem;
		margin-bottom: 0.75rem;
		color: $white;
	}

	#pg_remove_profile_image_btn {
		appearance: none;
		border: unset;
		display: inline-block;
		background-color: $redorange;
		padding: 0.5rem 1rem;
		margin-bottom: 0.75rem;
		color: $white;

		&:hover { cursor: pointer; }
	}

	.pm-popup-info {
		color: $light-black;
		font-size: 0.9375rem;
	}

	.pm-login-header h3 {
		font-size: 1.4rem;
		@include bp(768px) { font-size: 1.75rem; }
	}

	.pm-login-header-buttons a {
		color: $redorange;
	}

	// user registration form
	#pm_regform_2 {
		#fieldset_8 {
			font-family: $font;
			border: unset;
		}

		.pm-form-field-icon {
			display: none;
		}

		.pm-field-note {
			margin-top: 0.5rem;
			color: $dark-grey;
		}

		.pm-field-input input {
			border: 2px solid $orange;
			padding: 0.25rem 1rem;
			border-radius: 5px;
		}

		.buttonarea input {
			appearance: none;
			border: unset;
			background: $redorange;
			color: $white;
			font-family: $font;
			padding: 0.5rem 1rem;
			font-size: 1.1rem;
			max-width: 10rem;

			&:hover {
				cursor: pointer;
				background: $orange;
			}
		}
	}
}