#typing_on { display: none !important; }

button#send_msg_btn {
	svg { fill: $redorange !important; }
	&:hover { cursor: pointer; }
}

// ensure we only target selectors contained in this plugin
.pmagic {
	.pm-header-section, .mymenu {
		border-color: $orange !important;
	}

	.pm-header-section {
		margin-bottom: 0 !important;
		border-bottom: unset !important;
		box-shadow: unset !important;
		border-bottom-right-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	.mymenu {
		border-top: unset;
		margin-bottom: 2rem;
		border-top-right-radius: 0 !important;
		border-top-left-radius: 0 !important;
	}

	.pm-user-group-name {
		margin-top: 1rem;

		i { display: none !important; }

		a > span {
			font-weight: 600;
			font-size: 1.1rem;
			letter-spacing: 1px;
		}
	}

	.pm-group-card { border-color: $orange !important; }
	.pm-group-card-box { border-bottom: unset; }

	.pm-group-title {
		font-family: $font;
		border-color: $orange !important;

		> i {
			display: none !important;
		}
	}

	.pm-group-image { border-color: $white !important; }

	.pm-group-description {
		border-color: $white !important;
		font-family: $font;

		.pm-card-value {
			color: $light-black !important;
			font-size: 0.9375rem;
		}
	}

	.pm-border-slide { background-color: $redorange !important; }
	.pm-notification-title { font-family: $font; }

	.pm-group-blog-post-notice::before {
		content: '\f192';
		background: unset !important;
		font-family: $fa;
		font-size: 2rem;
		z-index: 5;
		color: $redorange !important;
		box-shadow: unset !important;
		text-shadow: unset !important;
	}

	.pm-notification-date {
		font-family: $font;
		font-size: 0.75rem;
	}

	// leave group button
	.pm-group-signup {
		button {
			appearance: none;
			border: unset;
			background: $redorange;
			color: $white;
			font-family: $font;
			padding: 0.5rem 1.25rem;
			font-size: 1.15rem;
			margin-top: 1.25rem;
			margin-bottom: 1.25rem;

			&:hover {
				cursor: pointer;
				background-color: $orange;
			}
		}
	}

	// option tabs on group page (notifications, settings links)
	.pm-profile-tab-wrap {
		.pg-group-setting {
			float: unset !important;
		}
	}

	// group settings submit form button
	.pm-edit-action {
		input {
			border: unset;
			padding: 0.5rem 1.25rem;
			font-size: 1.15rem;
			font-family: $font;
			background-color: $redorange;
			color: $white;

			&:hover {
				cursor: pointer;
				background-color: $orange;
			}
		}
	}

	.pm-section-left-panel {
		ul li {
			.active { color: $redorange !important; }
			a:hover { color: $redorange !important; }
		}
	}

	.pg-alert-info {
		font-family: $font;
		font-size: 1rem;
		color: $light-black;
	}

	.pm-notification-close {
		position: relative;
		right: 0;
		margin-left: auto;
		margin-right: 0.9rem;
		margin-top: 0.65rem;
		background-color: $redorange;

		&:before {
			content: '\f00d';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-family: $fa;
			font-size: 0.9375rem;
			color: $white;
		}

		svg { display: none !important; }
	}

	.pg-user-group-head {
		a {
			position: relative;
			font-size: 1rem;
			color: $orange;

			&:hover {
				&:before {
					right: -2rem;
					transition: 0.2s ease-out;
				}
			}

			&:before {
				position: absolute;
				content: '\f178';
				top: -0.1rem;
				right: -1.5rem;
				font-family: $fa;
				font-size: 1.15rem;
				color: $orange;
				transition: 0.2s ease-out;
			}
		}
	}

	.pm-group-view #pg-profile-tabs .pg-profile-tab-content {
		min-height: 150px;
	}
}

// password view button
.fa-eye {
	display: block;
	position: relative;
	top: -2.3rem;
	right: 0;
	margin-left: auto;
	margin-right: 0;
	width: 4rem;
	color: $orange;
	font-family: $fa;
	font-size: 1.25rem;
	
	&:hover {
		cursor: pointer;
		color: $redorange;
	}
}