// Claim Builder / Editor
#acf-form {
	padding: 1rem 0;

	.acf-actions {
		text-align: center !important;
	}

	.acf-form-submit {
		position: relative;
		bottom: -23rem;
	}
}

// Claim Edit
#edit-form {
	.acf-button {
		background-color: $redorange;
		color: $white;

		&:hover {
			cursor: pointer;
			background-color: $orange;
		}
	}
}

#acf-form, #edit-form {
	max-width: 53rem;
	margin: 0 auto;

	// global styles
	label, input, select, textarea {
		background: none;
		appearance: none;
		font-family: $font;
		font-size: 0.9375rem;
		font-weight: normal;
		color: $dark-grey;
		@include bp(sm) { font-size: 1rem; }
	}

	input, select, textarea { border: 1px solid $border-grey; }

	.acf-field-select {
		position: relative;
		background: transparent;

		&:after {
			content: '\f078';
			font-family: $fa;
			position: absolute;
			top: 3.3rem;
			right: 1.5rem;
			color: $dark-grey;
			z-index: -1;
		}
	}

	.select2-container--default .select2-selection--single {
		border: 1px solid $border-grey;
		border-radius: 0;
		font-family: $font;
		font-size: 0.9375rem;
		font-weight: normal;
		color: $dark-grey;
		padding: 16px 8px;
		line-height: 1.4;
		background: transparent;
		@include bp(sm) { font-size: 1rem; }

		.select2-selection__rendered { margin-top: -0.85rem; }

		.acf-selection { color: $dark-grey; }

		.select2-selection__arrow {
			padding: 0;
			&:after {
				content: '\f078';
				font-family: $fa;
				position: absolute;
				top: 0.4rem;
				right: 0.8rem;
				color: $dark-grey;
				z-index: -1;
			}

			b { display: none; }
		}
	}

	// text just below the label, describes what the input is for.
	.description {
		font-size: 0.875rem;
		color: $dark-grey;
	}

	// hide plus icon on box by default
	.acf-icon.-plus.small.acf-js-tooltip.hide-on-shift {
		display: none;
	}

	// show minus icon on box by default
	.acf-icon.-minus.small.acf-js-tooltip {
		display: block;
	}

	.acf-row:hover .acf-icon.-collapse.small {
		display: none !important;
	}

	.acf-basic-uploader {
		input {
			border: unset;
		}
	}

	// main field and input wrappers
	.acf-field { border: unset; }

	// Interview type (Admin only)
	.acf-field-620f16577ab9d { display: none; }

	// Create a Claim button
	.acf-form-submit > input {
		border: unset;
		background-color: $redorange;
		padding: 0.75rem 1.25rem;
		margin-top: 1.5rem;
		color: $white;

		&:hover {
			cursor: pointer;
			background-color: $orange;
		}
	}

	// fix repeaters on mobile
	@include mq($until: 810px) {
		.acf-input {
			.acf-repeater {
				max-width: 35rem;
				margin: 0 auto;

				input {
					max-width: 17rem;
					overflow: hidden;
				}
			}
		}
	}
}

.acf-tooltip, .acf-tooltip a {
	font-family: $font !important;
	font-size: 1rem !important;
}

#photo_upload_link,
#video_upload_link,
#audio_upload_link,
#interview_upload_link {
	position: relative;
	margin-bottom: 2.5rem;

	.acf-repeater {
		border-bottom: 2px solid $redorange;
		padding-bottom: 2.5rem;
	}

	.acf-label > label {
		text-align: center;
		color: $light-black;
		font-size: 1.15rem;
		margin-bottom: 1.5rem;
	}

	.acf-input .acf-actions .acf-button {
		position: relative;
		appearance: none;
		margin: 2rem auto 0;
		display: block;
		width: 8rem;
		height: 8rem;
		padding: 1rem;
		background: transparent;
		text-align: center;
		border: 2px solid $redorange !important;
		border-radius: 4px !important;
		z-index: 3;
		outline: none;
		color: $white !important;

		@include bp(425px) {
			width: 10rem;
			height: 10rem;
		}

		&:after {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $redorange;
			font-size: 3.5rem;
			z-index: 1;
			font-family: $fa;
		}

		&:hover {
			cursor: pointer;
			border-color: $orange !important;

			&:after { color: $orange; }
		}
	}
}

#photo_upload_link {
	position: relative;

	.acf-input .acf-actions .acf-button {
		&:after {
			content: '\f030';
		}
	}
}

#video_upload_link {
	position: relative;

	.acf-input .acf-actions .acf-button {
		&:after {
			content: '\f03d';
		}
	}
}

#interview_upload_link {
	position: relative;

	.acf-input .acf-actions .acf-button {
		&:after {
			content: '\f500';
		}
	}
}

#audio_upload_link {
	position: relative;

	.acf-input .acf-actions .acf-button {
		&:after {
			content: '\f130';
		}
	}
}