// tab control styles
#tabs {
	max-width: 75rem;
	width: 100%;
	margin: 0 auto 3rem;

	ul {
		margin: 0 auto;
		padding: 0 2rem;
		list-style: none;
		width: 100%;
		max-width: 60rem;
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			text-align: center;
			width: 20rem;

			a {
				display: block;
				padding: 1rem;
				background-color: $border-grey;
				color: $black;
				max-width: 100%;
				font-weight: bold;
				font-size: 1rem;

				@include bp(810px) {
					padding: 1.5rem;
					font-size: 1.5rem;
				}

				&.active {
					background-color: $orange;
					color: $white;
				}
			}

			.tab2 {
				border-left: 1px solid $dark-grey;
				border-right: 1px solid $dark-grey;
			}
		}
	}
}

.tab-wrapper {
	max-width: 75rem;
	padding: 1rem 2rem;
	margin: 2rem auto;
}

// assignment notification for "My Claims" page
.assignment-info {
	position: relative;
	max-width: 56rem;
	padding: 1rem 2rem;
	margin: 0 auto 1.5rem;
	border: 3px solid $redorange;

	p {
		margin: 0 auto;
		font-weight: 600;

		em {
			text-decoration: underline;
			text-underline-offset: 2px;
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		appearance: none;
		border: unset;
		background: $redorange;
		color: $white;
		font-size: 1.5rem;
		padding: 0.1rem 0.5rem;

		&:hover {
			cursor: pointer;
			background: $orange;
		}
	}
}