.address-book {
	max-width: 45rem;
	margin: 0 auto;

	#message {
		position: absolute;
		top: -7rem;
		right: 1.85rem;
		width: 18rem;
		background-color: $green;
		padding: 1rem;
		color: $white;
		font-size: 1.5rem;
	}

	#add-contact {
		appearance: none;
		border: unset;
		padding: 0.5rem 1rem;
		margin-left: 2.5rem;
		margin-bottom: 1.5rem;
		background-color: $redorange;
		color: $white;

		span {
			padding-right: 0.5rem;
			font-family: $fa;
			color: $white;
		}

		&:hover {
			background-color: $orange;
			cursor: pointer;
		}
	}

	&__contact {
		position: relative;
		max-width: 40rem;
		margin: 0 auto;
		border: 2px solid $orange;
		padding: 0.5rem 1rem;
		margin-bottom: 1.25rem;

		span:not(.fa-pencil):not(.fa-trash) {
			display: block;
			width: 12rem;
			@include bp(600px) { display: inline-block; }
		}

		#message {
			position: absolute;
			top: 5rem;
			right: 5rem;
			width: 15rem;
			background-color: $green;
			padding: 1.5rem 2rem;
			color: $white;
			font-size: 1.25rem;
		}

		// edit and delete icon controls
		.fa-pencil, .fa-trash {
			position: absolute;
			top: 0.5rem;
			font-family: $fa;
			font-size: 1.1rem;
			color: $redorange;
			transition: 0.2s ease-out;

			&:hover {
				cursor: pointer;
				color: $orange;
				transition: 0.2s ease-out;
			}
		}

		// edit icon spacing
		.fa-pencil { right: 3rem; }
		.fa-trash { right: 0.8rem; }

		a {
			display: inline-block;
			margin-left: 0;
			@include bp(600px) { margin-left: 1.5rem; }
		}
	}
}