// when a claim is created, update the user message display on this template only
.updated > p {
	max-width: 20rem;
	margin: 0 auto;
	padding: 0.5rem 1.25rem;
	text-align: center;
	color: $white;
	background-color: $green;
	font-size: 1.2rem;
	font-weight: 600;
}

// Single Claim (body_class)
.single-claim {

	// #edit-post-btn wrapper
	.edit-spacer {
		max-width: 50rem;
		margin: 0 auto;
		margin-bottom: 1.5rem;
	}

	#edit-post-btn {
		display: block;
		margin-left: auto;
		max-width: 9.5rem;
		background-color: $redorange;
		color: $white;
		padding: 0.5rem 1.25rem;
		font-weight: 600;
		text-align: center;

		&:before {
			position: relative;
			content: '\f303';
			font-family: $fa;
			color: $white;
			margin-right: 0.5rem;
			font-weight: normal;
		}

		&:hover {
			cursor: pointer;
			background: $orange;
		}
	}

	// main claim card
	.claim-info {
		border: 1px solid $border-grey;
		max-width: 25rem;
		margin: 2rem auto 0;

		h4 {
			margin-top: 0;
			margin-bottom: 0;
			padding: 1rem 0;
			text-align: center;
			border-bottom: 1px solid $border-grey;
			background-color: $border-grey;
		}

		p {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		.claim-status-bar {
			padding: 1rem 0;
			text-align: center;
			background-color: $redorange;

			svg {
				position: relative;
				top: 0.4rem;
				margin-right: 0.5rem;
				width: 36px;
				height: 28px;
				path { fill: $white; }
			}

			span {
				color: $white;
				font-size: 1.25rem;
			}
		}
	}

	// media accordions
	.uploaded-items {
		max-width: 50rem;
		margin: 2rem auto;
		font-family: $font;

		.icon-header {
			position: relative;
			border: 1px solid $border-grey;
			padding: 0.25rem 1rem;
			font-size: 1rem;
			font-weight: normal;
			&:hover { cursor: pointer; }
			@include bp(xs) { font-size: 1.25rem; }

			svg {
				position: relative;
				top: 0.3rem;
				margin-right: 0.5rem;
				width: 32px;
				height: 24px;
				path { fill: $redorange; }
			}

			.counter {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%; // of parent container
				width: 2.25rem;
				background-color: $redorange;

				.num {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $white;
					font-weight: bold;
				}
			}
		}

		// reconfigure WordPress figure styles
		figure { margin: 0 0 2rem; }

		&__images {
			display: block;
			margin: 0 auto;
		}

		.upload {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 2.5rem;

			img, audio, video {
				max-width: 15rem;
				margin-right: 1.5rem;
			}

			@include bp(sm) {
				flex-direction: row;
				justify-content: space-between;
				align-items: start;
			}

			&--right {
				max-width: 32rem;

				p { margin-top: 0; }
			}
		}
	}

	// Gravity form for sending media
	.send-media-form {
		position: relative;
		max-width: 53rem;
		margin: 4rem auto 0;

		// header
		.chevron span {
			font-family: $fa !important;
			padding-left: 0.5rem;
			font-weight: bold;
			font-size: 1.5rem;
		}

		label, input, textarea, fieldset {
			font-family: $font !important;
		}

		label, fieldset, .gfield_label {
			font-weight: 600 !important;
		}

		.gfield_validation_message, .gfield_description {
			font-family: $font !important;
		}

		// select wrapper
		#field_1_17 { position: relative; }

		// email wrapper
		#field_1_3 {
			margin-top: 1rem;
			label { margin-bottom: 0; }
		}

		// the address book selection dropdown
		select {
			// strip browser styles from the element
			background: transparent;
			appearance: none;
			border: unset;
		}

		// Gravity Forms select class (modifies select container)
		.ginput_container_select {
			position: relative;
			max-width: 20rem;
			border: 1px solid $light-black;
			font-family: $font;
			font-size: 0.9375rem;
			font-weight: normal;
			color: $light-black;
			@include bp(sm) { font-size: 1rem; }

			&:after {
				content: '\f078';
				font-family: $fa;
				position: absolute;
				top: 0.3rem;
				right: 0.5rem;
				color: $light-black;
				z-index: -1;
			}
		}

		// button to add new contact to address book post type
		.button--redorange {
			display: inline-block;
			max-width: 12rem;
			font-weight: 600;
			margin-top: 1.25rem;

			@include bp(560px) {
				position: absolute;
				top: 1.7rem;
				right: 0;
				margin-top: 0;
			}

			span {
				font-family: $fa;
				color: $white;
				font-weight: normal;
				padding-right: 0.25rem;
			}

			&:hover { cursor: pointer; }
		}

		// Checkbox style overrides for media selection //
		@import 'components/media-checkbox-grid';

		.gform_confirmation_message {
			font-family: $font !important;
			color: $white;
			padding: 1rem;
			background-color: $green;
			margin-bottom: 1.5rem;
		}
	}

	// acf_form()
	.edit-post {
		max-width: 50rem;
		margin: 1rem auto;
		border-top: 1px solid $dark-grey;

		// prevent browser from 'heabutting' the form links
		#video_upload_link,
		#audio_upload_link,
		#photo_upload_link,
		#interview_upload_link {
			&:before {
				display: block;
				content: ' ';
				margin-top: -200px;
				height: 200px;
				visibility: hidden;
				pointer-events: none;
			}
		}

		#message {
			position: relative;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.page-template-make-a-claim {
	.content-block { padding: 1rem 0.5rem; }
}

// modal for adding new contacts while the form is active (uses ajax)
.address-book-modal {
	display: none; // controlled by js fadein/out
	position: fixed;
	z-index: 100;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	background-color: rgba($light-black, 0.75);

	&__form {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -40%);
		width: 20rem;
		padding: 2rem 1rem;
		background-color: $white;
		margin: 0 auto;
		@include bp(sm) { width: 22rem; }
	}

	.acf-form-submit {
		margin-top: 1.25rem;
		text-align: center;

		.acf-button {
			background-color: $redorange;
			border: unset;
			appearance: none;
			padding: 0.5rem 1rem;
			color: $white;
			font-family: $font;
			&:hover { cursor: pointer; }
		}
	}

	// First Name, Last Name, Email Fields
	#acf-field_6245b5c9acae1,
	#acf-field_6245b5dee28a4,
	#acf-field_6245b5e5e28a5 {
		padding: 7px 8px;
	}

	// address book - add contact form
	#create-contact-form {
		.acf-fields {
			> .acf-field {
				border-top: unset;
				max-width: 20rem;
				padding-bottom: 0.35rem;
			}
		}

		.acf-field {
			.acf-label {
				margin: 0 0 5px !important;

				label {
					font-family: $font;
					font-weight: 600 !important;
					margin-bottom: 0;
				}
			}
		}

		input {
			font-family: $font;
		}
	}

	// close button
	.close-modal {
		position: absolute;
		appearance: none;
		border: unset;
		top: 0;
		right: 0;
		width: 2.25rem;
		height: 2.25rem;
		font-size: 1.5rem;
		background-color: $redorange;
		color: $white;
		font-weight: 600;
		z-index: 101;
		&:hover { cursor: pointer; }
	}
}