#footer {
	.nav-wrapper {
		display: block;
		@include bp(810px) { display: none; }
	}
}

// footer link menu
.info-bar {
	max-width: 100%;
	margin: 2rem auto 0;
	padding: 2rem 1rem;
	background-color: $light-grey;
	@include bp(380px) { padding: 2rem; }

	p {
		text-align: center;
		margin-top: 0;
		margin-bottom: 2rem;
	}

	.phone {
		display: block;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0.5rem;
		color: $redorange;
		font-weight: bold;
		font-size: 1.125rem;
		&:hover { color: $orange; }
	}

	// navigation style is in _navigation.scss (bottom of file)
}

.copyright-bar {
	width: 100%;
	padding: 1rem;
	margin-bottom: 7.8rem; // for fixed bottom nav on mobile
	background-color: $redorange;
	font-family: $font;
	text-align: center;
	color: $white;
	@include bp(810px) { margin-bottom: 0; }
}