* { box-sizing: border-box; }

// the base <html> font size is used to calc rem units globally (changing this WILL break things)
html { font-size: 16px; } // 16px = 1rem (base font setup)

html, body {
	// font antialiasing
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.5;
	overflow-x: hidden;

	font-variant-numeric: lining-nums;
	-moz-font-feature-settings: "lnum" 1; // fallback for firefox (>70)
	-webkit-font-feature-settings: "lnum" 1; // fallback for chrome/edge/safari (>63)
	font-feature-settings: "lnum" 1; // new standard for browsers
}

// sitewide placeholder text
::placeholder {
	font-family: $font;
	color: $grey !important;
	opacity: 0.8;
	font-style: italic;
	font-size: 0.9375rem; // 15px
}

// base image setup - always keep aspect ratio intact by default
img {
	display: block; // removes white space below images
	max-width: 100%;
	height: auto;
}

// core site wrapper (core site content wrapper)
.main-post-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

// default page content area
.content-block {
	max-width: 75rem; // 1200px
	margin: 2rem auto;
	padding: 1rem 1.5rem;
	@include bp(sm) { padding: 1rem 2.25rem; }

	.not-logged-in {
		margin-top: 0;
		font-weight: 600;
		font-size: 2.1rem;
		text-align: center;
	}
}

.content-block-md {
	max-width: 65rem; // 1200px
	margin: 2rem auto;
	padding: 1rem 1.5rem;
	@include bp(sm) { padding: 1rem 2.25rem; }
}

.upper-first input {
	text-transform: capitalize !important;
}