.claim-group-wrapper {
	max-width: 100%;
	margin: 0 auto;

	.rep-name {
		font-size: 1.5rem;
		color: $light-black;
		margin-top: 5rem;
		margin-bottom: 0;
		max-width: 100%;
		text-align: left;

		span {
			font-weight: normal;
			font-size: 1rem;
		}
	}

	table {
		thead tr th {
			text-align: left;
			padding: 1rem 0.65rem 0.5rem;
			font-size: 1rem;
			font-weight: 600;
		}

		tbody tr td {
			padding: unset;
			font-size: 0.9375rem;
			.view-claim { color: $orange; }

			// make entire cell/row clickable
			a {
				display: block;
				padding: 8px 10px;
			}
		}
	}
}

.dataTables_info { font-family: $font; }