.app-header {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	padding: 1.25rem 2rem;
	background-color: $redorange;

	// notifications
	.notify-login {
		position: absolute;
		max-width: 6rem;
		top: 2rem;
		right: 2rem;
		margin-left: 2rem;

		@include mq($until: 810px) {
			.notify-btn {
				position: relative;
				right: -3.5rem;
			}
		}

		.notification-count {
			position: absolute;
			top: -1rem;
			left: -1rem;
			padding: 0.15rem 0.6rem;
			width: 1.75rem;
			height: 1.75rem;
			text-align: center;
			font-weight: 600; // semibold
			background-color: $orange;
			color: $white;
			border-radius: 50%;
		}

		.logout-btn {
			display: block;
			margin-left: 0;
			margin-top: 1rem;
			@include bp(810px) { display: none; }
		}
	}

	h1 {
		color: $white;
		font-size: 2.5rem;
		margin: 2rem auto 0;
		text-align: center;
	}

	.client-info {
		text-align: left;
		margin-top: 3rem;
	}
}