#gform_wrapper_2 {
	font-family: $font;
	max-width: 50rem;
	margin: 0 auto;

	.gfield { margin-bottom: 1.75rem; }

	#gform_submit_button_2 {
		display: block;
		margin: 0 auto;
		padding: 0.65rem 1.75rem;
		appearance: none;
		border: unset;
		background: $redorange;
		color: $white;
		font-family: $font;
		text-align: center;

		&:hover {
			cursor: pointer;
			background-color: $orange;
		}
	}
}