// upload listings
.mu-uploads {
	max-width: 50rem;
	margin: 0 auto 3rem;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid $border-grey;

	&--list {
		li {
			color: $redorange;
			font-weight: bold;

			img {
				margin-left: 0.5rem;
				width: 75px;
				height: 75px;
			}

			audio { margin-right: 1.5rem; }

			span {
				position: relative;
				display: block;
			}

			a { color: $orange; }

			margin-bottom: 1.25rem;
		}
	}
}

.video-recorder-meta {
	position: relative;
	top: -4rem;
	max-width: 52rem;
	width: 100%;
	margin: 0 auto;

	h5 {
		font-family: $font;
		font-size: 1.15rem;
		font-weight: 400;
		text-align: center;
	}

	.fluid {
		position: relative;
		max-width: 52rem;
		width: 100%;
		margin: 0 auto;
	}

	// main app bar colors
	#videowhisperAppContainer,
	#appContainer, .layoutRecorder {
		background-color: transparent !important;
	}

	#videowhisperVideochat {
		position: relative !important;
	}

	#recordings {
		margin-top: 1.5rem;
	}

	// help button (not needed)
	.ui.violet.button {
		display: none;
	}

	// record button
	.ui.red.button {
		position: relative;
		appearance: none;
		margin: 0.5rem auto 0;
		display: block;
		width: 8rem !important;
		height: 8rem !important;
		padding: 1rem !important;
		background: transparent !important;
		text-align: center;
		border: 2px solid $redorange !important;
		border-radius: 4px !important;
		z-index: 3;
		outline: none;
		color: $white !important;

		@include bp(425px) {
			width: 10rem !important;
			height: 10rem !important;
		}

		&:after {
			content: '\f130';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $redorange;
			font-size: 3.5rem;
			z-index: 1;
			font-family: $fa;
		}

		&:hover {
			cursor: pointer;
			border-color: $orange !important;

			&:after { color: $orange; }
		}
	}

	.ui.ui.ui.green.label {
		display: none !important;
	}
}