// Global nav styles for both the header and footer navs
.nav-wrapper {
	display: flex;
	max-width: 60rem;
	flex-direction: row;

	.logo {
		max-width: 14rem;
		min-width: 12rem;
		margin-right: 1rem;
		margin-left: -0.5rem;

		@include bp(414px) {
			max-width: 16rem;
			min-width: 14rem;
		}
		@include bp(900px) { max-width: 17rem; }
	}

	.icon-nav {
		display: flex;
		width: 35rem;
		max-width: 100%;
		margin: 0 auto;
		margin-left: 1rem;
		padding: 0.5rem;
		align-items: center;
		justify-content: space-between;

		&--footer {
			@extend .icon-nav;
			margin: 0 auto;
			width: 100%;
			padding: 0;

			#primary-menu-mobile {
				margin: 0 auto;
				padding: 1.5rem 0.5rem;
				max-width: 100%;
			}
		}

		@include bp(900px) {
			margin-left: auto;

			&--footer {
				margin: 0 auto;
				width: 100%;
			}
		}
	}
}

// main icon navigation menu
#primary-menu,
#primary-menu-mobile {
	display: flex;
	max-width: 40rem;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	justify-content: space-between;

	li {
		position: relative;

		a {
			padding: 0;

			&:before {
				position: relative;
				display: block;
				top: 0;
				text-align: center;
				height: 3rem;
				padding-bottom: 1.25rem;
				margin-bottom: 0;
			}
		}

		&:hover { cursor: pointer; }
	}
}

// desktop nav menu (inherits global menu styles)
#primary-menu {
	display: none;
	@include bp(810px) { display: flex; }

	#menu-item-101 a::before {
		content: url('assets/media/icons/profile-icon.svg');
		top: 0.3rem;
	} // Profile

	#menu-item-670 a::before {
		content: url('assets/media/icons/upload-icon.svg');
	} // Group Claims

	#menu-item-672 a::before {
		content: url('assets/media/icons/claim-icon.svg');
	} // Make a Claim

	#menu-item-678 a::before {
		content: url('assets/media/icons/activity-icon.svg');
		top: 0.65rem;
	} // My Claims

	#menu-item-204 a::before {
		content: url('assets/media/icons/logout-icon.svg');
		top: 0.3rem;
	} // Log Out

	a {
		font-size: 1rem;
		color: $white;
	}
}

// bottom mobile menu (inherits global menu styles)
#primary-menu-mobile {
	position: fixed;
	z-index: 10;
	bottom: 0;
	background-color: $white;
	display: flex;
	border-top: 2px solid $border-grey;
	padding-top: 1.5rem;
	@include bp(810px) { display: none; }

	li { text-align: center; }

	#menu-item-108 a::before {
		content: url('assets/media/icons/profile-icon-red.svg');
	} // Profile

	#menu-item-674 a::before {
		content: url('assets/media/icons/upload-icon-red.svg');
	} // Group Claims

	#menu-item-110 a::before {
		content: url('assets/media/icons/claim-icon-red.svg');
	} // Make a Claim

	#menu-item-677 a::before {
		content: url('assets/media/icons/activity-icon-red.svg');
		top: 0.45rem;
	} // My Claims

	li a {
		&:before {
			height: 2.5rem;
			padding-bottom: 0.75rem;
		}
	}

	a {
		color: $light-black;
		font-size: 0.875rem;
		@include bp(sm) { font-size: 1rem; }
	}
}

// footer legal nav menu
.legal-nav {
	max-width: 55rem;
	margin: 0 auto;

	ul {
		display: flex;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		align-items: center;
		justify-content: space-between;

		li a {
			font-size: 0.9375rem;
			color: $grey;

			@include bp(sm) {
				font-size: 1.1rem;
				&:hover { color: $light-black; }
			}
		}
	}
}