// pull any block to the edges of the screen
.full-width {
	position: relative;
	width: 100vw;
	left: 50%;
	right: 50%;
	margin: 0 -50vw;
}

// text meant only for screen readers
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal !important;
}

.center-this {
	text-align: center;
}

.bold {
	font-weight: 600;
}

.redorange {
	color: $redorange;
}

.icon-header {
	&:hover { cursor: pointer; }
}

.dropdown-row {
	display: flex;
	max-width: 56rem;
	margin: 0 auto;
	justify-content: space-between;
	flex-wrap: wrap;
}