// Base Colors
$white: #fff;
$black: #000;
$light-black: #363636;
$grey: #8E8E8E;
$dark-grey: #888;
$light-grey: #F7F7F7;
$border-grey: #DEDEDE;
$border: #707070;

// Theme Colors
$redorange: #EC6212;
$orange: #F29400;
$green: #00a100;

// Fonts
$font: 'Poppins', sans-serif;
$fa: 'FontAwesome';

@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}