.button {
	display: inline-block;
	padding: 0.25rem 1.25rem;
	transition: 0.2s ease-out;
	border-radius: 0 !important;

	&--white,
	&--redorange {
		@extend .button;
	}

	&--white {
		background-color: $white;
		color: $redorange;
		margin-left: 1rem;

		&:hover {
			transition: 0.2s ease-out;
			background-color: $orange;
			color: $white;
		}
	}

	&--redorange {
		display: block;
		max-width: 7.5rem;
		margin: 0 auto;
		padding: 0.6rem 1.5rem;
		text-align: center;
		background-color: $redorange;
		color: $white;
		&:hover { background-color: $orange; }
	}
}

.orange-link {
	color: $redorange;
	font-weight: 600;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}

// adjusts buttons injected by js on the profile page
.btn-adjust {
	max-width: 14rem !important;
	display: inline-block !important;
	margin-bottom: 1rem !important;
	margin-right: 2rem !important;
}

// request help button (opens form)
.request-help-container {
	position: relative;
	max-width: 100%;

	#request-help-button {
		position: fixed;
		width: 3.75rem;
		height: 3.75rem;
		text-align: center;
		right: 1rem;
		bottom: 8.5rem;
		appearance: none;
		border: unset;
		border-radius: 50%;
		font-size: 0.875rem;
		font-weight: 600;
		background: $orange;
		transition: 0.2s ease-out;
		color: $white;
		padding: 0.6rem 0;
		@include bp(810px) { bottom: 3rem; }

		&:hover {
			cursor: pointer;
			background: $redorange;
			transition: 0.2s ease-out;
		}

		span {
			display: inline-block;
			margin-top: 0.15rem;
			font-family: $fa;
			color: $white;
		}
	}
}