.claim-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 20rem));
	row-gap: 2.5rem;
	column-gap: 2.5rem;
	max-width: 100%;
	justify-content: center;

	&__claim {
		max-width: 20rem;
		border: 1px solid $border-grey;

		.claim-number {
			border-bottom: 1px solid $border-grey;
			text-align: center;

			p { padding: 0 1.3rem; }

			.claim-icon {
				position: relative;
				top: 0.25rem;
				margin-right: 0.5rem;
			}
		}

		.claim-item {
			padding: 0 1.3rem;
			margin-top: 0.875rem;
			margin-bottom: 0.875rem;
			color: $dark-grey;
			span { color: $light-black; }
		}

		.claim-files {
			display: flex;
			width: 100%;
			padding: 0.5rem 1.3rem 0;
			margin-bottom: 1rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.upload-icon {
				svg path { fill: $redorange; }
			}
		}

		.claim-status {
			padding: 0.75rem 0 0.25rem;
			background-color: $redorange;
			text-align: center;

			svg {
				width: 2rem;
				height: 2rem;
				margin-right: 0.5rem;
			}

			span {
				position: relative;
				top: -0.5rem;
				display: inline-block;
				color: $white;
			}
		}

		.view-more {
			display: block;
			padding: 0.5rem 1rem;
			text-align: center;
			width: 100%;
			background-color: $orange;
			color: $white;
		}
	}
}