// remove egregious bottom margin added
div.facetwp-facet { margin-bottom: 0; }

// hide option amounts
.facetwp-counter { display: none; }

// facetwp loader gif
.is-loading {
	&__icon {
		display: block;
		width: 3rem;
		height: 3rem;
		background: url('assets/media/basic-loading-icon.gif');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		margin: 2.5rem auto;
		padding: 1rem;
		transition: 0.1s ease-in;
	}
}

// facetwp claims_search()
.search-wrapper {
	max-width: 56rem;
	margin: 0 auto 1rem;

	.facetwp-input-wrap { display: block; }

	.facetwp-search {
		width: 100%;
		padding: 0.5rem 1rem;
		border: 1px solid $border-grey;
		border-radius: 0;
	}

	.facetwp-type-dropdown {
		position: relative;
		line-height: 1.4;
		margin: 1rem 0 0.5rem;
		font-family: $font;
		font-size: 0.9375rem;
		font-weight: normal;
		color: $dark-grey !important;
		border: 1px solid $border-grey;
		width: 100%;
		@include bp(sm) { font-size: 1rem; }
		@include bp(810px) { width: unset; }

		&:after {
			content: '\f078';
			font-family: $fa;
			position: absolute;
			top: 0.5rem;
			right: 0.5rem;
			color: $dark-grey !important;
			z-index: -1;
		}

		select {
			appearance: none;
			background: transparent;
			border: unset;
			max-width: 25rem;
			width: 100%;
			padding: 0.5rem 1rem;

			@include bp(810px) {
				width: 15rem;
			}
		}
	}
}

// reset button
#reset-tabs {
	appearance: none;
	border: unset;
	margin-top: 0.65rem;
	margin-left: 0;
	transition: 0.2s ease-out;

	&:hover {
		cursor: pointer;
		background-color: $orange;
		transition: 0.2s ease-out;
	}
}