// Within the gravity forms context
// Custom checkboxes for media selection

// hide the default checkbox style
.gfield-choice-input { display: none; }

.gfield-choice-input:checked ~ label {
	border: 2px solid $redorange !important;
}

// Main container for all checkbox items
.ginput_container_checkbox {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	padding: 0 2.5rem;
}

#field_1_18 legend {
	font-size: 1.25rem;
	text-align: center;
	margin: 1rem auto 1.5rem;
	width: 100%;
}

#input_1_18 {
	display: grid;
	grid-template-columns: repeat(auto-fit, 23rem);
	grid-gap: 1rem;
	column-gap: 1rem;
	max-width: 75rem;
	justify-content: center;
	margin: 0 auto;

	img { display: inline-block; }

	p {
		float: right;
		max-width: 14rem;
		margin: 1rem 0 0 1.25rem;
		font-size: 0.9375rem;
	}

	.gchoice label {
		position: relative;
		z-index: 100;
		max-width: 23rem;
		width: 100%;
		background: transparent;
		border: 2px solid $border-grey;
		padding: 1rem 0.25rem 1rem 1rem;
		transition: 0.2s ease-out;

		&:hover {
			cursor: pointer;
			transition: 0.2s ease-out;
			border-color: $redorange;
		}
	}
}

// Send claim info button
#gform_submit_button_1 {
	display: block;
	margin: 0 auto;
	padding: 0.65rem 1.75rem;
	appearance: none;
	border: unset;
	background: $redorange;
	color: $white;
	font-family: $font;
	text-align: center;

	&:hover {
		cursor: pointer;
		background-color: $orange;
	}
}