{% extends 'base.twig' %}

{% block content %}
<div class="error-page">
	<h2>Sometimes, accidents happen.</h2>
	<h3>Just like this page.</h2>
	<img src="{{ theme.link }}/assets/media/crash.png" alt="404 Page Image" />
</div>
{% endblock %}