<div class="search-wrapper">
	{{ fn('do_shortcode', '[facetwp facet="claim_search"]') }}
	<div class="dropdown-row">
		{{ fn('do_shortcode', '[facetwp facet="claim_status"]') }}
		{{ fn('do_shortcode', '[facetwp facet="select_rep"]') }}
		{{ fn('do_shortcode', '[facetwp facet="select_company"]') }}
	</div>

	<div class="dropdown-row">
		{{ fn('do_shortcode', '[facetwp facet="claim_type"]') }}
		{{ fn('do_shortcode', '[facetwp facet="insured_name"]') }}
		{{ fn('do_shortcode', '[facetwp facet="claim_number"]') }}
	</div>
	<button class="button--redorange" id="reset-tabs" onclick="FWP.reset()">Reset</button>
</div>