<footer id="footer" class="site-footer">
	<section id="attribution">
		<div class="info-bar">
			<a class="phone" href="tel:{{ options.phone }}">{{ options.phone }}</a>
			<p>App Phone Support &nbsp;&mdash;&nbsp; 8am-7pm EST</p>
			<nav class="legal-nav" aria-label="Secondary">
				{{ function('mod_render_secondary_menu') }}
			</nav>
		</div>
		<div class="copyright-bar">&copy; {{ date_year }} {{ options.copyright_message }}</div>
	</section>

	<section class="nav-wrapper">
		<nav class="icon-nav--footer" aria-label="Main">
			{{ function('mod_render_primary_mobile_menu') }}
		</nav>
	</section>
</footer>