<header class="app-header">
	<div class="nav-wrapper">
		<a class="logo" href="/">
			<img src="{{ theme.link }}/assets/media/ec-logo.png" alt="Evidence Collector" />
		</a>
		<nav class="icon-nav" aria-label="Main">
			{{ function('mod_render_primary_menu') }}
		</nav>
	</div>

	<div class="notify-login">
		{% if fn('is_user_logged_in') %}
			<a class="notify-btn" href="/profile#pg-notifications" title="Notifications">
				{% include 'assets/media/icons/notification-icon.svg' %}
				<span class="notification-count">{{ fn('do_shortcode', '[profilegrid_unread_notifications]') }}</span>
			</a>
			<a class="button--white logout-btn" href="/wp-login.php?action=logout">Logout</a>
		{% else %}
			<a class="button--white" href="/login">Login</a>
		{% endif %}
	</div>

	{% if not fn('is_page', 'log-out') and not is_front_page %}
		<h1>{{ post.title }}</h1>
	{% endif %}
</header>