<div class="claim-files">
	<span class="upload-icon">
		<a href="{{ claim.link }}/#photo_upload_link">{% include 'assets/media/icons/camera-icon.svg' %}</a>
	</span>

	<span class="upload-icon">
		<a href="{{ claim.link }}/#video_upload_link">{% include 'assets/media/icons/video-icon.svg' %}</a>
	</span>

	<span class="upload-icon">
		<a href="{{ claim.link }}/#audio_upload_link">{% include 'assets/media/icons/mic-icon.svg' %}</a>
	</span>

	<span class="upload-icon">
		<a href="{{ claim.link }}/#interview_upload_link">{% include 'assets/media/icons/users-icon.svg' %}</a>
	</span>
</div>