{# Group Claims Page - Data Tables #}
{% if fn('is_page', 'group-claims') %}
	<script src="{{ theme.link }}/assets/js/dist/group-claims-tables-dist.js"></script>
{% endif %}

{# Single Claims #}
{% if fn('is_singular', 'claim') %}
	<script>
		(function($) {
    		$(document).ready(function() {
				$('.upload').magnificPopup({
					type: 'image',
					gallery: { enabled: true },
					cursor: null
				});
			}); // end Document.Ready
		})(jQuery);
	</script>
{% endif %}