{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<section class="address-book">

		<button id="add-contact"><span class="fa-solid fa-plus"></span> Add New Contact</button>
		<div class="address-book-modal">
			<div class="address-book-modal__form">
				{{ fn('edit_address_book') }}
				<button class="close-modal" title="Close Button">&times;</button>
			</div>
		</div>

		{% for contact in address_book %}
			<div class="address-book__contact">
				<span>{{ contact.first_name }} {{ contact.last_name }}</span>
				<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
				<a href="{{ contact.link }}" class="fa-solid fa-pencil" role="button" title="Edit Contact Details"></a>
				<a href="{{ fn('get_delete_post_link', contact.ID) }}" id="delete-contact" class="fa-solid fa-trash" role="button" title="Delete Contact"></a>
			</div>
		{% endfor %}
	</section>

	<p class="center-this" style="margin-top: 3rem; border-top: 1px solid black; padding-top: 1.5rem;">Deleted contacts can be recovered by an administrator.</p>
	<p class="center-this">Please use the 'Request Help' form in the bottom right for assistance.</p>
</div>
{% endblock %}