{% extends 'base.twig' %}

{% block content %}
<div class="content-block">

	{% include '_claim-search.twig' %}

	<div id="tabs">
		<ul>
			<li><a class="tab1 active" href="#tabs-1">New Claims</a></li>
			<li><a class="tab2" href="#tabs-2">Active Claims</a></li>
			<li><a class="tab3" href="#tabs-3">Completed Claims</a></li>
		</ul>

		{# New claims #}
		<div id="tabs-1" class="tab-wrapper" aria-label="New Claim">
			<section class="tab-wrapper__inner">
				<div class="claim-grid">
					{# chained for-if (conditional foreach() statement) #}
					{% for claim in claims if claim.claim_status == 'New' %}
						<div class="claim-grid__claim">
							<div class="claim-number">
								<p>
									<span class="claim-icon">
										{% include 'assets/media/icons/claim-icon-grey.svg' %}
									</span>
									Claim {{ claim.claim_number }}
								</p>
							</div>
							<p class="claim-item">Company: <span>{{ claim.company_name }}</span></p>
							<p class="claim-item">Insured Name: <span>{{ claim.insured_name }}</span></p>
							<p class="claim-item">Date Filed: <span>{{ claim.date('m/d/Y') }}</span></p>
							<p class="claim-item">Claim Type: <span>{{ claim.claim_type }}</span></p>
							<p class="claim-item">Reserve: <span>{{ claim.reserve }}</span></p>
							{% include '_icon-row.twig' %}
							<a class="view-more" href="{{ claim.link }}">View More</a>
						</div>
					{% endfor %}
				</div>
			</section>
		</div>

		{# Active claims (active) #}
		<div id="tabs-2" class="tab-wrapper" aria-label="Active Claims">
			<section class="tab-wrapper__inner">
				<div class="claim-grid">
					{# chained for-if (conditional foreach() statement) #}
					{% for claim in claims if claim.claim_status == 'Active' %}
						<div class="claim-grid__claim">
							<div class="claim-number">
								<p>
									<span class="claim-icon">
										{% include 'assets/media/icons/claim-icon-grey.svg' %}
									</span>
									Claim {{ claim.claim_number }}
								</p>
							</div>
							<p class="claim-item">Company: <span>{{ claim.company_name }}</span></p>
							<p class="claim-item">Insured Name: <span>{{ claim.insured_name }}</span></p>
							<p class="claim-item">Date Filed: <span>{{ claim.date('m/d/Y') }}</span></p>
							<p class="claim-item">Claim Type: <span>{{ claim.claim_type }}</span></p>
							<p class="claim-item">Reserve: <span>{{ claim.reserve }}</span></p>
							{% include '_icon-row.twig' %}
							<a class="view-more" href="{{ claim.link }}">View More</a>
						</div>
					{% endfor %}
				</div>
			</section>
		</div>

		{# Completed claims #}
		<div id="tabs-3" class="tab-wrapper" aria-label="Completed Claims">
			<section class="tab-wrapper__inner">
				<div class="claim-grid">
					{# chained for-if (conditional foreach() statement) #}
					{% for claim in claims if claim.claim_status == 'Completed' %}
						<div class="claim-grid__claim">
							<div class="claim-number">
								<p>
									<span class="claim-icon">
										{% include 'assets/media/icons/claim-icon-grey.svg' %}
									</span>
									Claim {{ claim.claim_number }}
								</p>
							</div>
							<p class="claim-item">Company: <span>{{ claim.company_name }}</span></p>
							<p class="claim-item">Insured Name: <span>{{ claim.insured_name }}</span></p>
							<p class="claim-item">Date Filed: <span>{{ claim.date('m/d/Y') }}</span></p>
							<p class="claim-item">Claim Type: <span>{{ claim.claim_type }}</span></p>
							<p class="claim-item">Reserve: <span>{{ claim.reserve }}</span></p>
							{% include '_icon-row.twig' %}
							<a class="view-more" href="{{ claim.link }}">View More</a>
						</div>
					{% endfor %}
				</div>
			</section>
		</div>
	</div>

	<section class="search-results facetwp-template">
		<div class="tab-wrapper" aria-label="Claim search Results">
			<section class="tab-wrapper__inner">
				<div class="claim-grid">
					{% for claim in claims %}
						<div class="claim-grid__claim">
							<div class="claim-number">
								<p>
									<span class="claim-icon">
										{% include 'assets/media/icons/claim-icon-grey.svg' %}
									</span>
									Claim {{ claim.claim_number }}
								</p>
							</div>
							<p class="claim-item">Company: <span>{{ claim.company_name }}</span></p>
							<p class="claim-item">Insured Name: <span>{{ claim.insured_name }}</span></p>
							<p class="claim-item">Date Filed: <span>{{ claim.date('m/d/Y') }}</span></p>
							<p class="claim-item">Claim Type: <span>{{ claim.claim_type }}</span></p>
							<p class="claim-item">Reserve: <span>{{ claim.reserve }}</span></p>
							{% include '_icon-row.twig' %}
							<div class="claim-status">
								{% include 'assets/media/icons/claim-icon.svg' %}
								<span>{{ claim.claim_status }}</span>
							</div>
							<a class="view-more" href="{{ claim.link }}">View More</a>
						</div>
					{% endfor %}
				</div>
			</section>
		</div>
	</section>
</div>
{% endblock %}