<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{{ options.google_search_description }}">

		<title>
			{% if not post.title %}
				404
			{% else %}
				{{ post.title }}
			{% endif %}
			&nbsp;|&nbsp; {{ site.name }}
		</title>

		{{ function('acf_form_head') }}
		{{ function('wp_head') }}

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	</head>

	{# https://developer.wordpress.org/reference/functions/body_class/ #}
	<body data-template="base.twig" class="{{ body_class }}">
		{% include '_header.twig' %}

		<section class="main-post-wrapper" role="main" aria-label="Main Content Section">
			{# security check #}
			{% if
				fn('is_user_logged_in')
				or is_front_page
				or fn('is_page', ['log-out', 'login', 'forgot-password', 'privacy', 'legal', 'terms-of-use', 'accessibility', 'registration'])
			%}
				{% block content %}{% endblock %}
			{% else %}
				<div class="content-block">
					<h3 class="not-logged-in">You must be logged in to view this page.</h3>
					<a class="button--redorange" href="/login">Login</a>
				</div>
			{% endif %}

			{% if not fn('is_page', 'request-help') %}
				<div class="request-help-container">
					<a href="/request-help" id="request-help-button">
						<span class="fa-solid fa-question"></span><br/>Help
					</a>
				</div>
			{% endif %}
		</section>

		{% include '_footer.twig' %}
		{% include '_scripts.twig' %}

		{{ function('wp_footer') }}
	</body>
</html>