{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	{% include '_claim-search.twig' %}

	<section class="claim-group-wrapper" style="overflow: auto;">
		{{ fn('sorted_group_claims_table') }}
	</section>

	<section class="search-results">
		<table class="display claim-table">
			<thead>
				<tr>
					<th>Claim Number</th>
					<th>Company Name</th>
					<th>Insured Name</th>
					<th>Claim Type</th>
					<th>Claim Status</th>
					<th>Reserve</th>
					<th>View Claim</th>
				</tr>
			</thead>

			<tbody class="facetwp-template">
				{% for claim in table_claims %}
					<tr>
						<td><a href="{{ claim.link }}">{{ claim.claim_number }}</a></td>
						<td><a href="{{ claim.link }}">{{ claim.company_name }}</a></td>
						<td><a href="{{ claim.link }}">{{ claim.insured_name }}</a></td>
						<td><a href="{{ claim.link }}">{{ claim.claim_type }}</a></td>
						<td><a href="{{ claim.link }}">{{ claim.claim_status }}</a></td>
						<td><a href="{{ claim.link }}">{{ claim.reserve }}</a></td>
						<td><a class="view-claim" href="{{ claim.link }}">View Claim</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
</div>
{% endblock %}