{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<h4 class="center-this">Please ensure you have location access enabled.</h4>
	<p class="center-this">This is required to use the app.</p>
	<p class="center-this">
		For any questions or concerns you can <a class="orange-link" href="tel:{{ options.phone }}">call our help number</a>, or view our <a class="orange-link" href="/terms-of-use">Terms of Use</a> and <a class="orange-link" href="/privacy">Privacy Policy</a> documents.
	</p>
	<a class="button--redorange" href="/login" style="margin-top: 3rem;">Login</a>
</div>
{% endblock %}