{% extends 'base.twig' %}

{% block content %}
	<div class="content-block">
		{{ fn('build_new_claim') }}

		<section class="video-recorder-meta">
			<p style="max-width: 48rem; margin: 2rem auto 5rem;">After clicking "Save New Claim" please wait while your claim is created. Claims with Media can take longer to process.</p>
		</section>
	</div>
{% endblock %}