{% extends 'base.twig' %}

{% block content %}
<div class="content-block">
	<div class="assignment-info">
		<p>To <em>ACCEPT</em> a claim, click "View More" and use the "Edit Claim" button to change the status to Active.<br/><br/>
		To <em>REJECT</em> a claim, click "View More" and use the "Edit Claim" button to assign the claim to your Group's Manager.</p>
		<button class="assignment-info__close">&times;</button>
	</div>

	{% include '_claim-search.twig' %}

	{# this will only show the current logged-in users claims #}
	<div class="tab-wrapper facetwp-template" aria-label="All Claims" >
		<section class="tab-wrapper__inner">
			<div class="claim-grid">
				{% for claim in user_claims %}
					<div class="claim-grid__claim">
						<div class="claim-number">
							<p>
								<span class="claim-icon">
									{% include 'assets/media/icons/claim-icon-grey.svg' %}
								</span>
								Claim {{ claim.claim_number }}
							</p>
						</div>
						<p class="claim-item">Company: <span>{{ claim.company_name }}</span></p>
						<p class="claim-item">Insured Name: <span>{{ claim.insured_name }}</span></p>
						<p class="claim-item">Date Filed: <span>{{ claim.date('m/d/Y') }}</span></p>
						<p class="claim-item">Claim Type: <span>{{ claim.claim_type }}</span></p>
						<p class="claim-item">Reserve: <span>{{ claim.reserve }}</span></p>
						{% include '_icon-row.twig' %}
						<div class="claim-status">
							{% include 'assets/media/icons/claim-icon.svg' %}
							<span>{{ claim.claim_status }}</span>
						</div>
						<a class="view-more" href="{{ claim.link }}">View More</a>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
</div>
{% endblock %}