{% extends 'base.twig' %}

{% block content %}
<div class="content-block">

	<div class="edit-spacer">
		<a href="#edit-form" id="edit-post-btn">Edit Claim</a>
	</div>

	<section class="claim-info">
		<h4>Claim {{ post.claim_number }}</h4>
		<p>Claim Date: <strong>{{ post.date('m/d/Y') }}</strong></p>
		<p>Company: <strong>{{ post.company_name }}</strong></p>
		<p>Insured Name: <strong>{{ post.insured_name }}</strong></p>
		<p>Claim Representative: <strong>{{ post.author.name }}</strong></p>
		<p>Type of Claim: <strong>{{ post.claim_type }}</strong></p>
		<p>Reserve: <strong>{{ post.reserve }}</strong></p>
		<div class="claim-status-bar">
			{% include 'assets/media/icons/claim-icon-grey.svg' %}
			<span>{{ post.claim_status }}</span>
		</div>
	</section>

	<section class="uploaded-items">
		{% if post.ec_notes %}
			<p><strong>Claim Description:</strong> {{ post.ec_notes }}</p>
		{% endif %}

		{% set count = 0 %}
		{% for image in post.get_field('photo_uploads') %}
			{% set count = count + 1 %}
		{% endfor %}
		<h4 class="icon-header">
			{% include 'assets/media/icons/camera-icon.svg' %} View Photos
			<span class="counter">
				<span class="num">{{ count }}</span>
			</span>
		</h4>
		<div class="uploaded-items__images expander" aria-expanded="false">
			{% for image in post.get_field('photo_uploads') %}
				<a class="upload" href="{{ image.photo.url }}">
					<img src="{{ TimberImage( image.photo ).src }}" alt="{{ TimberImage( image.photo ).alt }}" />
					<div class="upload--right">
						<p><strong>Tag:</strong> {{ image.tag_image }}</p>
						<p><strong>GPS Data:</strong> <span class="gps-data"></span></p>
					</div>
				</a>
			{% endfor %}
		</div>

		{% set count = 0 %}
		{% for video in post.get_field('video_uploads') %}
			{% set count = count + 1 %}
		{% endfor %}
		<h4 class="icon-header">
			{% include 'assets/media/icons/video-icon.svg' %} Watch Videos
			<span class="counter">
				<span class="num">{{ count }}</span>
			</span>
		</h4>
		<div class="uploaded-items__videos expander" aria-expanded="false">
			{% for video in post.get_field('video_uploads') %}
				<div class="upload">
					<video controls>
						<source src="{{ video.video_file }}">
					</video>
					<div class="upload--right">
						<p><strong>GPS Data:</strong> <span class="gps-data"></span></p>
					</div>
				</div>
			{% endfor %}
		</div>

		{% set count = 0 %}
		{% for audio in post.get_field('audio_uploads') %}
			{% set count = count + 1 %}
		{% endfor %}
		<h4 class="icon-header">
			{% include 'assets/media/icons/mic-icon.svg' %} Listen to Audio Recordings
			<span class="counter">
				<span class="num">{{ count }}</span>
			</span>
		</h4>
		<div class="uploaded-items__audio expander" aria-expanded="false">
			{% for audio in post.get_field('audio_uploads') %}
				<div class="upload">
					<figure>
						<figcaption>Listen to Audio File:</figcaption>
						<audio controls>
							<source src="{{ audio.audio_file }}">
						</audio>
					</figure>
					<div class="upload--right">
						<p><strong>GPS Data:</strong> <span class="gps-data"></span></p>
					</div>
				</div>
			{% endfor %}
		</div>

		{% set count = 0 %}
		{% for interview in post.get_field('interview_uploads') %}
			{% set count = count + 1 %}
		{% endfor %}
		<h4 class="icon-header">
			{% include 'assets/media/icons/users-icon.svg' %} Listen to Interviews
			<span class="counter">
				<span class="num">{{ count }}</span>
			</span>
		</h4>
		<div class="uploaded-items__interviews expander" aria-expanded="false">
			{% for interview in post.get_field('interview_uploads') %}
				{% if interview.file_upload|split('.')|last == 'mp3' %}
					<div class="upload">
						<figure>
							<figcaption>Listen to Interview:</figcaption>
							<audio controls>
								<source src="{{ interview.file_upload }}">
							</audio>
						</figure>
						<div class="upload--right">
							<p><strong>GPS Data:</strong> <span class="gps-data"></span></p>
						</div>
					</div>
				{% else %}
					<div class="upload">
						<video controls>
							<source src="{{ interview.file_upload }}">
						</video>
						<div class="upload--right">
							<p><strong>GPS Data:</strong> <span class="gps-data"></span></p>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

	{# Send Claim Info Form #}
	<div class="send-media-form">
		<div class="address-book-modal">
			<div class="address-book-modal__form">
				{{ fn('edit_address_book') }}
				<button class="close-modal" title="Close Button">&times;</button>
			</div>
		</div>
		<h4 class="icon-header chevron" title="Click to open form.">Send Claim Info <span class="fa-solid fa-chevron-down"></span></h4>
		<div class="expander">{{ send_media_form }}</div>
	</div>

	{# Edit Claim #}
	<section id="edit-form" class="edit-post">
		<h4 style="margin-top: 4rem;">Edit This Claim</h4>
		{{ fn('edit_claim_post') }}
	</section>
</div>
{% endblock %}